<div class="span3"></div>

<div class="span12 center">
    <div class="hero-unit">
        <p class="leader" >
        <h5> About Crop Scheduler </h5>
        Crop Scheduler has been started as B-tech project in IIIT Hyderabad.
        It was proposed by respected faculty of IIIT Hyd <b>P.Krishna Reddy</b> <u>pkreddy@mail.iiit.ac.in</u>.
        This Web Application will propose a yearly crop plan which will provide maximum profit while attaining minimum risk.
        <b> Shoaib Khan</b>, <b>Kshitij Prasad</b> and  <b>Rohan Gupta </b> with the help of mentor P.Krishna Reddy have solved this problem and implemented it.


        </p>
    </div>
</div>