<div class="container">

    <form class="form-horizontal">
        <div class="control-group">
            <label class="control-label" >First Name</label>
            <div class="controls">
                <input type="text" placeholder="First Name">
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" >Second Name</label>
            <div class="controls">
                <input type="text" placeholder="Second Name">
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" >Email</label>
            <div class="controls">
                <input type="text" placeholder="Email">
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" >Password</label>
            <div class="controls">
                <input type="password" placeholder="Password">
            </div>
        </div>
        <div class="control-group">
            <div class="controls">
                <button type="submit" class="btn">Sign Up</button>
            </div>
        </div>
    </form>
    <hr>
</div> <!-- /container -->
