<!DOCTYPE html>               

<html ng-app="crpSchd">
    <head>
        <style type="text/css">
            footer {
                clear: both;
                position: relative;
                height: 3em;
                margin-top: 10em;
            }
            body {
                padding-top: 100px;
                padding-bottom: 40px;
            }
        </style>
        <link href="js/libs/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen">
        <script src="js/libs/angular-1.0.8/angular.min.js"></script>
        <script src="js/libs/jquery/jquery.min.js"></script>
        <script src="js/libs/bootstrap/js/bootstrap.min.js"></script>
        <!--         <script src="js/libs/goog/base.js"></script>
                <script src="js/libs/goog/structs/priorityqueue.js"></script>-->
        <script src="js/FeedData/module.js"></script>
        <script src="js/FeedData/databaseHelper.js"></script>
        <script src="js/FeedData/controller.js"></script>
        <script src="js/FeedData/controllersAddorMod.js"></script>
        <script src="js/libs/ajaxFileUpload/ajaxfileupload.js"></script>
        <script src="js/libs/ajaxFileUpload/jquery.js"></script>


        <title>Crop Scheduler</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    </head>
    <body >
        <div class="navbar navbar-inverse navbar-fixed-top" ng-controller="NavgCtrl">
            <div class="navbar-inner">
                <div class="container">
                    <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>

                    <a class="brand" href="#">Crop Scheduler</a>
                    <div class="nav-collapse collapse" ng-switch="login">

                        <span ng-switch-when=1>
                            <ul class="nav">
                                <li><a href="#about">About</a></li>
                                <li><a href="#addcrop">Upload Crops</a></li>
                                <li><a href="#viewcrops">View Crops</a></li>
                                <li><a href="#addregionDetails">Upload District Details</a></li>
                            </ul>
                        </span>
                        <span ng-switch-default>
                            <ul class="nav">
                                <li><a href="#about">About</a></li>
                            </ul>
                        </span>
                    </div>

                    <form class="navbar-form pull-right">

                        <div ng-switch="login">
                            <div ng-switch-when=1>
                                <h5 class="leader" style="color:white;">Welcome {{userName}}</h5>
                                <button type="submit" class="btn btn-success" ng-click="signOut()">Sign Out</button>
                            </div>
                            <div ng-switch-default>
                                <input class="span2" type="text" placeholder="User Name" ng-model="userName" >
                                <input class="span2" type="password" placeholder="Password" ng-model="password">    
                                <div ng-switch="failed">
                                    <div ng-switch-when=0>
                                        <button type="submit" class="btn btn-success" ng-click="signIn(userName,password)">Sign in</button>
                                    </div>
                                    <div ng-switch-default>
                                        <button type="submit" class="btn btn-danger" ng-click="signIn(userName,password)">Sign in</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--                            <button type="submit" class="btn btn-primary">Sign Up</button>-->
                    </form>
                </div><!--/.nav-collapse -->
            </div>
        </div>
    </div>

    <div ng-view></div>
    <footer >
        <p>&copy; IIIT HYDERABAD 2013</p>
    </footer>
</body>
</html>
